{% extends "navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
        <div class="rectangle6"><img src="/static/Rectangle6.png" alt=""></div>
        <div class="rectangle7"></div>
        <div class="posingreso"><div class="titulonegro">INGRESO 2023</div></div>
    <a href="/ingreso">
        <div class="vermasboton"> <div class="vermastexto">VER MÁS</div></div>
    </a>
    <div class="rectangle13"></div>
    <a href="https://a4.frc.utn.edu.ar/4/">
        <div class="rectangle10"><div class="botonrojotexto">AUTOGESTIÓN</div></div>
    </a>
    <div class="rectangle9"><div class="botonrojotexto">CALENDARIO</div></div>
    <div class="rectangle11"><div class="botonrojotexto">BIBLIOTECA</div></div>
    <div class="posnoticias"><div class="tituloblanco">NOTICIAS</div></div>
    <div class="noticia"></div>
</body>
</html>

{% endblock %}