{% extends "index.html" %}

{% block navbar %}
<div class="navbar-container">
    <div class="navbar-logo">
        <a href="/">
            <img src="/static/logo utn corodba gris 1.png" alt="">
        </a>
    </div>
    <div class="dropdown">
        <button class="dropbtn">LA UNIVERSIDAD  
        </button>
        <div class="dropdown-content">
            <a href="/quienessomos">QUIENES SOMOS</a>
            <a href="/catedras">CATEDRAS</a>
            <a href="/autoridades">AUTORIDADES</a>
            <a href="/secretarias">SECRETARIAS</a>
            <a href="/departamentos">DEPARTAMENTOS</a>
          </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">OFERTAS ACADEMICAS 

        </button>
        <div class="dropdown-content">
            <a href="#service1">Servicio 1</a>
            <a href="#service2">Servicio 2</a>
            <a href="#service3">Servicio 3</a>
          </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">COMUNIDAD 
            
        </button>
        <div class="dropdown-content">
            <a href="#service1">Servicio 1</a>
            <a href="#service2">Servicio 2</a>
            <a href="#service3">Servicio 3</a>
          </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">ALUMNOS

        </button>
        <div class="dropdown-content">
            <a href="#service1">Servicio 1</a>
            <a href="#service2">Servicio 2</a>
            <a href="#service3">Servicio 3</a>
          </div>
    </div>
    <a href="/intercambio">INTERCAMBIO</a>
    <a href="/investigacion">INVESTIGACION</a>
</div>
{% endblock %}

{% block content %}
<!-- Contenido de la página de inicio -->
{% endblock %}