
/* Vector */
.vector{
left: 100%;
right: -3.33%;
top: 38.89%;
bottom: 5.56%;

background: #202124;
transform: rotate(90deg);
}


.fuente {
/* LA UNIVERSIDAD */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #202124;
}




.ofertas-academicas{

    
    
    /* OFERTAS ACADÉMICAS */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #202124;
    
    }