/* Rectangle 6 */
.rectangle6{
    position: absolute;
    width: 1280px;
    height: 576px;
    left: 0px;
    top: 15vh;

    background: url(Rectangle6.png) no-repeat;
    background-size: cover;   
    z-index: 1;
    }

/* Rectangle 7 */
.rectangle7 {
    position: absolute;
    width: 400px;
    height: 576px;
    left: 0px;
    top: 15vh;

    background: rgba(243, 243, 243, 0.9);
    z-index: 2;
}