{% extends "layout.html" %}
{% block content %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="#" class="d-flex text-body-emphasis text-decoration-none">
        <h1>About</h1>
      </a>
    </header>
<div class="card">
    <img src="/static/1_m0H6-tUbW6grMlezlb52yw.png" class="card-img-top" alt="...">
      
    <div class="card-body">
        <h5 class="card-title">Python</h5>
        <p class="card-text">Click the link below to learn more about Python coding.</p>
        <a href="https://www.python.org" class="btn btn-primary">Python website</a>
    </div>
</div>

{% endblock %}